# RGVL Platform

# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env
.env.local

# Node
node_modules/

# Data
*.db
*.sqlite
*.sqlite3
*.bak
*.log
data/

# Backups
.backups/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Misc
.cache/
.dist/
.build/
.trash/
